@font-face {
    font-family: PoppinsBold;
    src: url("./assets/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: PoppinsBoldItalic;
    src: url("./assets/fonts/Poppins-BoldItalic.ttf");
}

@font-face {
    font-family: PoppinsExtraBold;
    src: url("./assets/fonts/Poppins-ExtraBold.ttf");
}

@font-face {
    font-family: PoppinsExtraBoldItalic;
    src: url("./assets/fonts/Poppins-ExtraBoldItalic.ttf");
}

@font-face {
    font-family: PoppinsItalic;
    src: url("./assets/fonts/Poppins-Italic.ttf");
}

@font-face {
    font-family: PoppinsRegular;
    src: url("./assets/fonts/Poppins-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #F0F0F0;
    display: grid;
    align-content: center;
    grid-template-rows: 1fr auto;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.calculator-card {
    background-color: white;
    padding: 2.5rem 2rem;
    box-sizing: border-box;
    border-radius: 10px 10px 100px 10px;
    /* width: 50% ; */
    max-width: 40rem;
    width: 40rem;
}

.birth-date-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.day, .month, .year {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    /* width: 20%; */
    width: 8.5rem;
}

.day label, .month label, .year label {
    font-family: PoppinsBold;
    color: #767676;
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.day input, .month input, .year input {
    border-radius: 10px;
    padding: 0.8rem 1rem;
    border: none;
    border: 1px solid hsl(0, 0%, 86%);
    outline: none;
    font-size: 1.5rem;
    font-family: PoppinsBold;
    color: black;
}
.day input:focus, .month input:focus, .year input:focus {
    border: 1px solid hsl(259, 100%, 65%);
}

.errorMsg {
    font-family: PoppinsItalic;
    font-size: 0.7rem;
    margin-top: 0.3rem;
    color: hsl(0, 100%, 67%);
    display: none;
}

::placeholder {
    color: #8A8A8A;
    /* Change this to the desired color */
}

.separator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.separator-line {
    border-top: 1px solid hsl(0, 0%, 86%);
    flex: 1;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 1rem;
    background-color: hsl(259, 100%, 65%);
    border-radius: 100px;
    padding: 2.3rem;
    box-sizing: border-box;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn img {
    width: 2rem;
}

.age-result {
    font-family: PoppinsExtraBoldItalic;
    font-size: 5rem;
}

.years-result, .month-result, .day-result {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    line-height: 1;
}

.result-value {
    color: #864CFF;
    margin-right: 0.5rem;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    align-self: end;
    margin-bottom: 1rem;
}

footer {
    /* position: absolute;
    bottom: 10px; */
    font-family: PoppinsItalic;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

footer a:hover {
    color: #864CFF;
    text-decoration: none;
}
a:focus {
    outline: none;
}
@media (max-width: 650px) {
    .calculator-card {
        max-width: 28rem;
        width: 28rem;
    }

    .age-result {
        font-size: 3.5rem;
        margin-top: 4rem;
    }

    .separator{
        position: relative;
        display: block;
        margin-top: 4rem;
    }

    .btn {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        padding: 2rem;

    }

    footer {
        font-size: 0.8rem;
    }

    .day, .month, .year {
        width: 7.2rem;
    }

    .errorMsg {
        font-size: 0.6rem;
    }

}

@media (max-width: 480px) {

    .calculator-card {
        max-width: 22rem;
        width: 22rem;
    }

    .day, .month, .year {
        width: 5.5rem;
    }

    .age-result {
        font-size: 3rem;
        margin-top: 4rem;
    }

    .day input, .month input, .year input {
        font-size: 1rem;
    }

    .btn {
        padding: 1.5rem;

    }

    .age-result {
        margin-top: 3rem;
    }

    .separator {
        margin-top: 3.5rem;
    }

    footer {
        font-size: 0.6rem;
        gap: 0.5rem;
    }

    .errorMsg {
        font-size: 0.5rem;
    }
}